body{
    margin:0px;
    background-color: #27445D;
}


.navbar{
    display:flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    border: none; /* Reset all borders */
    border-right: 1px solid black; /* Add right border */
    border-bottom: 1px solid black; /* Add bottom border */
    border-left: 1px solid black;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 25px;
    background-color:#497D74;   
    
}

/* .navbar, .icon{
    display:none;

} */

.left-items{
    list-style-type: none;
    display:flex;
    justify-content: flex-start;
     
}

ul{
    margin:0;
    padding:0;
}


@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


.headshot{
    display:flex;
    align-items: center;
    border-radius:50%;
    width: 75px;
    height:75px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 10px;
  


}

.navbar > button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.main-headshot{
    align-items: center;
    width:200px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    border-radius:50%;
    margin-bottom: 20px;
}

li > a{
    padding:20px;
    text-decoration:none;
    color:#EFE9D5;
}

.right-items{
    list-style-type: none;
    display:flex;
    justify-content: space-around;

}





.vl {
    border-left: 4px solid #EFE9D5;
    height: 700px;
    position: absolute;
    left: 50%;
    top: 2;
  }

.self-desc{
    margin-right:53%;
    margin-left:10%;
    margin-top:4%;
    background-color:#71BBB2;
    padding:2%;
    border-radius: 25px;
    text-align: center;
    color:#EFE9D5;

}

strong{
    color:#174a42;
    font-size: 18px;
}

.about-me > h3 {
    color:#174a42;
    font-size: 40px;

}

.about-me{
    margin-left:53.5%;
    margin-right:10%;
    margin-top:4%;
    background-color:#71BBB2;
    padding:2%;
    padding-top: 3px;
    border-radius: 25px;
    text-align: center;
    color:#EFE9D5;

}

.projects{
    margin-top:5%;
    display:flex;
    justify-content: space-evenly;

}

.projects > section{
    display:flex;
    flex-direction: column;
    background-color:#D8C4B6;
    padding:20px;
    border-radius: 25px;
    text-align: center;
    color:#27445D;
    margin: 50px;
    align-items: center;
    
}

.projects p{
    color:#049f8d;

}

.projects img{
    width:300px;
    height:150px;
    border-radius: 25px;
}



.div-container{
    background-color: #497D74;
    margin-left: 20%;
    margin-right:20%;
    margin-bottom: 10%;
    border-radius: 5%;
    color: #27445D;
}


form{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    font-size: 18px;
}

form > input, form > textarea{
    border-radius: 6px;
}

form >h3{
    text-align: center;
    font-size: 40px;

}

.btn{
    padding:5px;
    font-size: 15px;
    font-weight: bold;
    background-color:#27445D;
    border-radius: 6px;
    color:#D8C4B6;
    
}
